/* =========== ЗАГАЛЬНІ СТИЛІ ========== */
:root {
    --primery-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --dark-color: #2E2F42;
    --succes-color: #31D0AA;
    --text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --modal-overlay-color: #2E2F42;
    --hero-background-color: #2E2F42;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    background-color: #E5E5E5;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-title {
    color: var(--dark-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

.item-title {
    color: var(--dark-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}


/*=========== СТИЛІ ДЛЯ index.html ========== */
/* =========== ШАПКА САЙТУ ========== */
.page-header {
    background-color: #FFFFFF;
}

.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--dark-color);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
}

.logo:hover,
.logo:focus {
    color: var(--pressed-state-color);
}

.logo>span {
    color: var(--primery-brand-color);
}

.logo>span:hover,
.logo>span:focus {
    color: var(--dark-color);
}

/* =========== НАВІГАЦІЯ ========== */
.site-nav a {
    color: var(--dark-color);
    font-weight: 500;
}

.site-nav a:hover,
.site-nav a:focus,
.contacts a:hover,
.contacts a:focus {
    color: var(--pressed-state-color);
}

/* =========== КОНТАКТНІ ДАННІ ========== */
.contacts a {
    color: var(--text-color);
}


/* =========== ОСНОВНИЙ КОНТЕНТ ========== */

/* =========== СЕКЦІЯ ГЕРОЙ ========== */
.hero {
    background-color: var(--hero-background-color);
}

.primary-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.071;
    text-align: center;
}

.order-button {
    color: #FFFFFF;
    font-family: inherit;

    background-color: var(--primery-brand-color);
    cursor: pointer;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.order-button:hover,
.order-button:focus {
    background-color: var(--pressed-state-color);
}

/* =========== ПЕРЕЛІК ПЕРЕВАГ ========== */
.preference>h2 {
    opacity: 0;
}

/* =========== НАШІ ПРОЕКТИ ==========  */

/* =========== ЧЛЕНИ КОМАНДИ ========== */
.team {
    background-color: var(--light-color);
}

/* =========== ПІДВАЛ ========== */
.page-footer {
    background-color: var(--modal-overlay-color);
    color: var(--accent-color);
}

.page-footer>a,
.page-footer span:hover,
.page-footer span:focus {
    color: var(--light-color);
}


/* =========== СТИЛІ ДЛЯ portfolio.html ========= */
/* ========== Список можливостей ========= */

.capability>h1,
.capability>h2 {
    opacity: 0;
}

.list-item>button {
    width: 112px;
    height: 48px;

    background-color: var(--light-color);
    color: var(--primery-brand-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.list-item>button:hover,
.list-item>button:focus {
    background-color: var(--pressed-state-color);
    color: #FFFFFF;
}